@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default margin & padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  /* Optional: Set default font and background */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  